<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cloudflare Analytics</title>

    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/dashboard.css')}"/>

    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/jquery-1.11.3.min.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/analytics.js')}"></script>

    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/amcharts/amcharts.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/amcharts/serial.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/amcharts/pie.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/amcharts/themes/light.js')}"></script>
</head>
<body>

<f:be.container>
    <f:render section="content"/>
</f:be.container>

</body>
</html>
