<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer
    includeCssFiles="{0: '{f:uri.resource(path:\'Css/dashboard.css\')}'}"
    includeJsFiles="{
        0: '{f:uri.resource(path:\'JavaScript/analytics.js\')}',
        1: '{f:uri.resource(path:\'JavaScript/amcharts/amcharts.js\')}',
        2: '{f:uri.resource(path:\'JavaScript/amcharts/serial.js\')}',
        3: '{f:uri.resource(path:\'JavaScript/amcharts/pie.js\')}',
        4: '{f:uri.resource(path:\'JavaScript/amcharts/themes/light.js\')}'
    }"
    includeRequireJsModules="{0: 'TYPO3/CMS/Core/Ajax/AjaxRequest'}"
    addJsInlineLabels="{
        0: 'dashboard.requests',
        1: 'dashboard.uniques',
        2: 'dashboard.threats',
        3: 'dashboard.cached',
        4: 'dashboard.uncached',
        5: 'dashboard.encrypted',
        6: 'dashboard.unencrypted'
    }"/>

<f:render section="Content"/>

</html>
