<h3 class="mod-title"><f:translate key="dashboard.bandwidth"/></h3>

<section>
    <ul class="blocks">
        <li>
            <h5><strong><f:translate key="dashboard.bandwidth.total"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="bandwidthC1"></h2>
        </li>
        <li>
            <h5><strong><f:translate key="dashboard.bandwidth.cached"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="bandwidthC2"></h2>
        </li>
        <li>
            <h5><strong><f:translate key="dashboard.bandwidth.uncached"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="bandwidthC3"></h2>
        </li>
    </ul>
</section>

<div class="graph" id="chartBandwidth"></div>