<h3 class="mod-title"><f:translate key="dashboard.threats"/></h3>

<section>
    <ul class="blocks">
        <li>
            <h5><strong><f:translate key="dashboard.threats.total"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="threatsC1"></h2>
        </li>
        <li>
            <h5><strong><f:translate key="dashboard.threats.topCountry"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="threatsC2"></h2>
        </li>
        <li>
            <h5><strong><f:translate key="dashboard.threats.topType"/></strong></h5>
            <small class="text-nonessential">-</small>
            <h2 id="threatsC3"></h2>
        </li>
    </ul>
</section>

<div class="graph" id="chartThreats"></div>