html,body,div,span,applet,object,iframe,h1,h2,h3,.callout .callout-heading,
h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
    padding-top: 0.73333rem;
    color: #7c7c7c;
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: normal;
}

h3 {
    font-size: 1.46667rem;
    line-height: 1.3;
}

h5 {
    font-size: 1rem;
}

small {
    line-height: 2.5;
    font-size: 80%;
}

b, strong {
    font-weight: 700;
}

.header {
    background-color: #eee;
    border-bottom: 1px solid #c3c3c3;
    height: 48px;
    padding: 0 1em;
}

.header h1 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 50px;
}

.header .left {
    float: left;
}

.header .right {
    float: right;
}

.header select {
    font-size: 1rem;
    margin-top: .8em;
}

.tab-container {
    margin: 1em;
}

.mod-title {
    font-weight: 400;
    margin-bottom: 1rem;
}

.tabs, .blocks {
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;
}

.tab-container .blocks {
    border-top: 1px solid #d4d4d1;
    border-bottom: 1px solid #d4d4d1;
    margin-top: 2.5em;
    margin-bottom: 2em;

}

.tabs li, .blocks li {
    display: table-cell;
    margin: 0;
    padding: 0;
}

.tabs li {
    background-color: #fff;
    height: 3rem;
    width: 25%;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #d4d4d1;
    border-bottom: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs li:last-child {
    border-right: 1px solid #d4d4d1;
}

.tabs li:hover {
    background-color: #f6f6f6;
}

.tabs li.active {
    background-color: #fff;
    border-top: 2px solid #2f7bbf;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs li a {
    color: #2f7bbf;
    display: block;
    text-decoration: none;
}

.tabs li.active a {
    color: #000;
}

.tab-container .blocks li {
    width: 33.3333%;
    padding: 1em;
    border-right: 1px solid #d4d4d1;
}

.tab-container .blocks li:last-child {
    border-right: none;
}

.tab-content {
    display: none;
    padding: 1em;
    border-bottom: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    background-color: #fff;
}

.tab-container .graph {
    width: 100%;
    height: 320px;
}

.text-nonessential {
    color: #7c7c7c;
}

section.analytics {
    padding: 0 1em;
}

.analytics .blocks li {
    width: 36%;
    padding: 1em;
}

.analytics .blocks li:first-child {
    width: 32%;
    padding-left: 0;
}

.analytics .blocks li:last-child {
    width: 32%;
    padding-right: 0;
}

.analytics .blocks .content {
    padding: 1em;
    background-color: #fff;
    border: 1px solid #d4d4d1;
}

.analytics .blocks .graph {
    border-top: 1px solid #d4d4d1;
    padding-top: .5em;
    height: 200px;
}
